#Aqui esta la lista de todos los archivos ignorados
requisitos.txt
/Programacion Java/SegundaClaseJava/nbproject/private/
/Programacion Java/SegundaClaseJava/build/
/Programacion Java/TerceraClaseDeJava/nbproject/private/
/Programacion Java/TerceraClaseDeJava/build/
/Programacion Java/CuartaClaseDeJava/nbproject/private/
/Programacion Java/CuartaClaseDeJava/build/
/Programacion Java/Java/PrimeraClaseJava/build/
/Programacion Java/Java/PrimeraClaseJava/nbproject/private/
/Programacion Java/Java/SegundaClaseJava/build/
/Programacion Java/Java/SegundaClaseJava/nbproject/private/
/Programacion Java/Java/CuartaClaseDeJava/build/
/Programacion Java/Java/CuartaClaseDeJava/nbproject/private/
/Programacion Java/QuintaClaseDeJava/nbproject/private/
/Programacion Java/QuintaClaseDeJava/build/
/Programacion Java/SextaClaseJava/nbproject/private/
/Programacion Java/SextaClaseJava/build/
/Programacion Java/Java/SeptimaClaseDeJava/build/
/Programacion Java/Java/SeptimaClaseDeJava/nbproject/private/
/Programacion Java/Java/JavaApplication72/nbproject/private/
/Programacion Java/Java/JavaApplication72/build/
/Programacion Java/Java/OctavaClaseDeJava/build/
/Programacion Java/Java/OctavaClaseDeJava/nbproject/private/
/Programacion Java/Java/NovenaClaseDeJava/nbproject/private/
/Programacion Java/Java/NovenaClaseDeJava/build/
